{% extends 'vehicle/adminbase.html' %} {% block content %} {% load static %}
<!-- main content -->
<div class="wrapper">
  <!-- ****** table  start ********** -->
  <div class="row">
    <div class="col-12 col-m-12 col-sm-12">
      <div class="card">
        <div class="card-header">
          <h3 style="color: red; text-align: center">Customers</h3>
        </div>

        <form
          action="{% url 'users-view' %}"
          method="GET"
          class="header__search"
        >
          <label>
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              width="15"
              height="15"
              viewBox="0 0 32 32"
            >
              <title>Filter</title>
              <path
                d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12 22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z"
              ></path>
            </svg>
            <input name="q" placeholder="Filter by YYYY-MM-DD" />
          </label>
        </form>

        <div class="card-content">
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Username</th>
                <th>Phone Number</th>
                <th>No. Cars</th>
                <th>Total Payments</th>
                <th>Update</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              {% for customer, car in customerInfo %}
              <tr>
                {% comment %}
                <td>{{customer.get_name}}</td>
                {% endcomment %}
                <td>{{customer.first_name}} {{customer.last_name}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.username}}</td>
                <td>{{customer.phone_number}}</td>
                <td>
                  <a href="{% url 'cars:customer-cars' customer.id %}"
                    >{{ car }}</a
                  >
                </td>
                <td>TODO</td>
                <td>
                  <a
                    style="color: red; text-decoration: none; font-size: 25px"
                    href="{% url 'update-user' customer.id  %}"
                    >&#9998;</a
                  >
                </td>
                <td>
                  <a
                    style="color: blue; text-decoration: none; font-size: 25px"
                    href="{% url 'delete-user' customer.id  %}"
                    >&#10008;</a
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- ****** table start ********** -->
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>
<!-- end main content -->
{% endblock content %}
