{% extends 'vehicle/adminbase.html' %} {% block content %}
<!-- main content -->
<div class="wrapper">
  <!-- ****** table  start ********** -->
  <div class="row">
    <div class="col-12 col-m-12 col-sm-12">
      <div class="card">
        <div class="card-header">
          <h3 style="color: red; text-align: center">Cameras</h3>
        </div>

        <div class="card-content">
          <table>
            <thead>
              <tr>
                <th>Camera</th>
                <th>Type</th>
                <th>Floor</th>
                <th>Path</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              {% for camera in cameras %}
              <tr>
                <td>{{ camera.name }}</td>
                <td>{{ camera.cam_type }}</td>
                <td>{{ camera.floor }}</td>
                <td>{{ camera.path }}</td>
                <td>
                  <a
                    href="{% url 'update-camera' camera.id %}"
                    style="color: red; text-decoration: none; font-size: 25px"
                    >&#9998;</a
                  >
                </td>
                <td>
                  <a
                    href="{% url 'delete-camera' camera.id %}"
                    style="color: blue; text-decoration: none; font-size: 25px"
                    >&#10008;</a
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- ****** table start ********** -->
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>
<!-- end main content -->
{% endblock content %}
